@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

#root {
  /*max-width: 1280px;*/
  margin: 0 auto;
  width: 100%;
  text-align: center;
  height: 100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.custom-font {
  font-family: "Exo 2", sans-serif !important;
  font-optical-sizing: auto;
}

/*Sweet Alert*/
.confirm-button-class {
  background-color: #4caf50;
}

.confirm-button-class:hover {
  background-color: #0B6E00;
}

.cancel-button-class:hover {
  background-color: #424242;
}

.deny-button-class:hover {
  background-color: #BD0000;
}

.popup-class {
  background-color: var(--card);
  color: var(--card-text);
}

/*Grid que contiene el sidebar*/
.grid-side {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100vh;
  gap: 4px;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
  }
}

/*Sidebar principal*/
@media (max-width: 768px) {
  .side-bar-layout {
    display: none;
  }

  .bread_head{
    display: none;
  }
}

.appbar{
  display: none !important;
}

/*AppBar*/
@media (max-width: 768px) {
  .appbar {
    display: flex !important;
  }
}

/* Estilos para el scrollbar */
::-webkit-scrollbar {
  width: .25rem;
  opacity: 0.5;
}

::-webkit-scrollbar-track {
  background: var(--background);
  opacity: 0.5;
}

::-webkit-scrollbar-thumb {
  background: rgba(120, 120, 120, 0.5);
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.8);
}

/*Hacer hover en un item del sidebar*/
/* Hover de item seleccionado en modo oscuro */
body.dark .Mui-selected.side-item:hover {
  color: var(--secondary) !important;
}

body.dark .Mui-selected.side-item:hover .side-icon {
  color: var(--secondary) !important;
}

/* Hover de item seleccionado en modo normal */
body:not(.dark) .Mui-selected.side-item:hover {
  color: var(--other) !important;
}

body:not(.dark) .Mui-selected.side-item:hover .side-icon {
  color: var(--other) !important;
}

/*Link*/
.link:hover {
  text-decoration: underline !important;
}